<%- include('../partials/header')-%>
    <style>
      body {
        background-color: #e6d2aa;
        font-family: "Times New Roman", Times, serif;
      }
      .nav-link {
        font-family: var(--bs-body-font-family);
      }
      form.example input[type="text"] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        height: 40px;
        width: 320px;
        background: #f1f1f1;
      }

      form.example button {
        height: 40px;
        width: 40px;
        padding: 10px;
        background: #2196f3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
      }

      form.example button:hover {
        background: #0b7dda;
      }

      form.example::after {
        content: "";
        clear: both;
        display: table;
      }
      .search {
        right: 0.55%;
        padding-bottom: 30px;
      }
      .example {
        padding-bottom: 30px;
      }
      .search {
        right: 0.55%;
        overflow: hidden;
        position: fixed;
      }
      th {
        font-size: 20px;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
      }
      .table {
        border-style: solid;
        border-width: 3px;
        border-color: white;
        justify-content: center;
      }
      h1 {
        margin-top: 70px;
        font-weight: 300;
        margin-left: 10px;
      }

      .navbar {
        overflow: hidden;
        position: fixed;
        top: 0px;
        width: 100%;
      }
      .buttons1 {
        background-color: #2196f3;
        border: none;
        color: white;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 17px;
        font-weight: 540;
      }
      .buttons1:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
          0 17px 50px 0 rgba(0, 0, 0, 0.19);
      }
      .edit:first-child {
        margin-left: 10px;
      }
      .edit {
        top: 0px;
        left: 20px;
        margin: 15px;
      }
      .i2 {
        right: 0.55%;
        overflow: hidden;
        position: fixed;
      }
    </style>
  </head>
<%- include('../partials/navbar')-%>
    <h1>Report Generator</h1>
    <br />
    <div class="search">
      <form class="example" action="/action_page.php" style="max-width: 400px">
        <input
          class="search"
          type="text"
          placeholder="Any Field..."
          name="search2"
        />
        <button class="search" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </form>
    </div>
    <div class="add">
      <button class="buttons1 edit"><i class="bi bi-plus-lg"></i> ADD</button>
      <button class="buttons1 edit">
        <i class="bi bi-pencil-fill"></i> MODIFY
      </button>
      <button class="buttons1 edit">
        <i class="bi bi-save2-fill"></i> SAVE
      </button>
      <button class="buttons1 edit">
        <i class="bi bi-hand-thumbs-up-fill"></i> DONE
      </button>
    </div>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>S.no</th>
          <th>Student ID</th>
          <th>Student Name</th>
          <th>Register No</th>
          <th>Gender</th>
          <th>Degree</th>
          <th>Semester</th>
          <th>Current Year</th>
          <th>Branch</th>
          <th>Booking Date</th>
          <th>Hostel Name</th>
          <th>Room Number</th>
          <th>Room Type</th>
          <th>Floor Name</th>
          <th>Contact No</th>
          <th>Email</th>
          <th>Father Name</th>
          <th>Father Number</th>
          <th>Father Email</th>
          <th>Address</th>
          <th>Pincode</th>
          <th>Office Name</th>
          <th>Booking Type</th>
          <th>Total Amount</th>
          <th>State Name</th>
          <th>Religion Name</th>
          <th>Community</th>
          <th>Caste</th>
          <th>Differently Abled</th>
          <th>Father Income</th>
          <th>Mother Income</th>
          <th>Reporting Date</th>
          <th>Vacating Date</th>
          <th>AC Remote</th>
          <th>Key Number</th>
          <th>Other-Information</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2</th>
        </tr>
      </tbody>
    </table>
    <button type="submit" class="buttons1 i2">
      Print <i class="bi bi-printer-fill"></i>
    </button>
  </body>
</html>
